<style type="text/css">
p{ 
	color:#d1644c; 
	margin-right: auto;
	font-size: large;
}
</style>

<p>Sorry, I have nothing to offer the world right now. Why not check out my <a href="<%=@github%>"> github</a>?</p>